<!-- About Us Section -->
    <section class="about section" id="about-placeholder">
      <div class="container about-container">
        <div class="about-image-block">
          <img
            src="assets/images/about_bg.png"
            alt="Ziya Team Working"
            class="main-about-img"
          />
        </div>
        <div class="about-text-block">
          <h2 class="about-title">About Us</h2>
          <p class="about-description">
            Ziya Academy is more than just an educational institution, it's a
            place where potential meets purpose. Our mission is to empower
            students through personalized education and skill-building, helping
            them unlock their strengths and achieve their academic and career
            goals.
          </p>
          <p class="about-description">
            At Ziya Academy, we believe that quality education lays the
            foundation for a brighter future. That's why we are committed to
            delivering high-impact learning experiences through qualified
            tutors, tailored teaching methods, and a student-first approach.
          </p>

          <div class="mission-vision">
            <div class="mv-block">
              <div class="mv-header">
                <img
                  src="assets/images/Group 341.png"
                  alt="Mission Icon"
                  class="mv-icon"
                />
                <h3 class="mv-title green">Our Mission</h3>
              </div>
              <p class="mv-text">
                To provide affordable, quality education through innovative
                teaching methods
              </p>
            </div>

            <div class="mv-block">
              <div class="mv-header">
                <img
                  src="assets/images/Group 342.png"
                  alt="Vision Icon"
                  class="mv-icon"
                />
                <h3 class="mv-title blue">Our Vision</h3>
              </div>
              <p class="mv-text">
                To be the leading educational institution that empowers students
                with knowledge, skills, and values.
              </p>
            </div>
          </div>

          <a href="under_construction.html" class="btn btn-outline"
            >Explore More</a
          >
        </div>
      </div>
    </section>