<!-- Hero Section -->
    <section class="hero">
      <div class="container">
        <div class="hero-content">
          <h1 class="hero-title">
            Unlock Your Potential <br />with Ziya Academy
          </h1>
          <p class="hero-text">
            From school education to professional IT training - your complete
            learning solution
          </p>
          <div class="hero-buttons">
            <a href="under_construction.html" class="btn btn-secondary1"
              >Free Consultation <i class="fa-solid fa-circle-play"></i
            ></a>
            <a href="under_construction.html" class="btn btn-secondary2"
              >Explore Courses<i class="fa-solid fa-circle-play"></i
            ></a>
          </div>
        </div>
      </div>
    </section>